<div class="form">
  <h3 class="title-create_region">{{#if editMode}}Edit Region{{else}}Create Region{{/if}}</h3>
  <form action="/mantRegions/{{#if editMode}}editRegion{{else}}saveRegion{{/if}}" method="post" class="form-save">
    <div class="mb-2">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control name"
        id="name"
        name="name"
        placeholder="Enter a region pokemon"
        {{#if editMode}} value="{{region.name}}" {{/if}}
      />
    </div>
     {{#if editMode}}
        <input type="hidden" value="{{region.id}}" name="id">
      {{/if}}
    <div class="mb-2">
      <button type="submit" class="btn btn-secondary float-end m-2">Save</button>
      <a href="/mantRegions/index" class="btn btn-light float-end m-2">Back</a>
    </div>
  </form>
</div>