<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/assets/css/lib/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/site/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
  </head>
  <body>
    <header class="header">
      <nav class="nav">
        <ul class="ul">
          <li class="nav-item Logo"><img src="/assets/icons/pokeball.png" class="logo" alt="" srcset=""></li>
          <li class="nav-item home {{#if isActiveHome}}background{{/if}}"><a href="/">Home</a></li>
          <li class="nav-item pokemons {{#if isActivePokemons}}background{{/if}}"><a href="/mantPokemons/index">Pokemons</a></li>
          <li class="nav-item regions {{#if isActiveRegions}}background{{/if}}"><a href="/mantRegions/index">Regions</a></li>
          <li class="nav-item pokemonsTypes {{#if isActiveTypes}}background{{/if}}"><a href="/mantTypes/index">Pokemons Types</a></li>
        </ul>
      </nav>
    </header>

    {{{body}}}

  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="/assets/js/lib/boostrap/bootstrap.min.js"></script>

  {{#if validator}}
    <script src="/assets/js/site/main.js"></script>
  {{/if}}

</html>