<div class="container-filter">
        <div class="filter-name">
          <form action="" method="post" class="form-filter-name">
            <div>
              <input type="text" name="name" id="name" class="form-control form-control-sm look-name" placeholder="Enter a pokemon name"/>
            </div>
            <div>
              <button type="submit" class="btn btn-secondary btn-sm btn-filter"><i class="fa-solid fa-magnifying-glass" style="color: #FFFFFF;"></i></button>
            </div>
          </form>
        </div>

        <div class="filter-region">
          <form action="" method="post" class="form-filter-region">
            <div>
              <select name="genre" id="genre" class="form-select form-select-sm look-region">
                <option value="0">Select an option</option>
              </select>
            </div>
            <div>
              <button type="submit" class="btn btn-secondary btn-sm btn-filter"><i class="fa-solid fa-magnifying-glass" style="color: #FFFFFF;"></i></button>
            </div>
          </form>
        </div>
      </div>

      <div class="container">
        <div class="card">
          <img class="img-size" src="https://img.pokemondb.net/sprites/home/normal/2x/pikachu.jpg" alt="" />
          <div class="card-body">
            <p>name</p>
            <p>region</p>
            <p>type</p>
          </div>
          <div class="buttons">
            <a href="" class="btn btn-light">Edit</a>
            <button type="submit" class="btn btn-secondary">Delete</button>
          </div>
        </div>

         <div class="card">
          <img class="img-size" src="https://img.pokemondb.net/sprites/home/normal/2x/pikachu.jpg" alt="" />
          <div class="card-body">
            <p>name</p>
            <p>region</p>
            <p>type</p>
          </div>
          <div class="buttons">
            <a href="" class="btn btn-light">Edit</a>
            <button type="submit" class="btn btn-secondary">Delete</button>
          </div>
        </div>

         <div class="card">
          <img class="img-size" src="https://img.pokemondb.net/sprites/home/normal/2x/pikachu.jpg" alt="" />
          <div class="card-body">
            <p>name</p>
            <p>region</p>
            <p>type</p>
          </div>
          <div class="buttons">
            <a href="" class="btn btn-light">Edit</a>
            <button type="submit" class="btn btn-secondary">Delete</button>
          </div>
        </div>
         <div class="card">
          <img class="img-size" src="https://img.pokemondb.net/sprites/home/normal/2x/pikachu.jpg" alt="" />
          <div class="card-body">
            <p>name</p>
            <p>region</p>
            <p>type</p>
          </div>
          <div class="buttons">
            <a href="" class="btn btn-light">Edit</a>
            <button type="submit" class="btn btn-secondary">Delete</button>
          </div>
        </div>
      </div>